.products-list {
  display: none;
  /* background-color: #005eb8; */
  background-color: var(--menuColor);
  position: absolute;
  top: 100%;
  right: -520px;
  height: 550px;
  overflow-y: auto;
  width: 1300px;
  z-index: 1;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
}
.products:hover .products-list {
  display: block;
}
.products-list::-webkit-scrollbar {
  display: none;
}

.underline {
  border-bottom: rgb(39, 161, 205) dotted 2px;
  width: 30%;
}

.icon-left {
  display: none;
}

.product-details {
  height: 50px;
  align-items: center;
}
.product-item.hovered {
  /* background-color: #223b59; */
  background-color: var(--darkColor);
  border-radius: 36px;
  height: 50px;
  align-items: center;
}

.product-details:hover .icon-right {
  display: none;
}

.product-details:hover .icon-left {
  display: block !important;
}
.sub-products {
  position: absolute;
  right: 430px;
}
.sub-products-details {
  align-items: center;
  height: 50px;
}
.sub-products-details:hover {
  /* background-color: #223b59; */
  background-color: var(--darkColor);
  border-radius: 36px;
  height: 50px;
  align-items: center;
}
.box {
  /* background-color: #0c2340; */
  background-color: var(--darkColor);
  width: 300px;
  position: fixed;
  left: 970px;
  top: 150px;
  text-align: justify;
}
.box h5 {
  font-weight: 500;
}

.details h6 {
  font-weight: 500;
}

@media (max-width: 990px) {
  .products-list {
    display: none !important;
  }
}

@media only screen and (max-width: 1260px) {
  .products-list {
    display: none;
    background-color: var(--menuColor);
    position: absolute;
    top: 100%;
    right: -520px;
    height: 550px;
    overflow-y: auto;
    width: 1100px;
  }
  .sub-products {
    position: absolute;
    right: 350px;
  }
  .box {
    width: 200px;
    position: absolute;
    left: 765px;
    top: 50px;
    text-align: justify;
  }
}

@media only screen and (min-width: 1260px) {
  .box {
    width: 250px;
    position: absolute;
    left: 1000px;
    top: 80px;
    text-align: justify;
  }
}
