.background {
  background-color: #000030;
  /* width: 100vw; */
  color: #ffffff;
}
.text-clr {
  color: #dee2e694;
}

.rotating-background {
  width: 390px;
  height: 260px;
  /* background: url("../../assets//images/globeanime/global.png") center/cover
    no-repeat; */
  background: url("https://opticservers.ro/assets/img/cloud.svg") center/cover
    no-repeat;

  animation: rotateBackground 20s linear infinite;
}

@keyframes rotateBackground {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .rotating-background {
    width: 310px;
    height: 240px;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .rotating-background {
    width: 290px;
    height: 240px;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 767px) {
  .rotating-background {
    display: none;
  }
}

.nav-link {
  display: inline-block !important;
}

/* STARTS ANIMATION */

.falling-stars {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #ffffff; /* Color of the stars */
  border-radius: 50%;
  color: #8c8cf9;
  opacity: 0.8;
  /* animation: fall 5s linear infinite, twinkle 1s linear infinite alternate; */
  animation: fallFromAbove 5s linear infinite,
    moveLeftToRight 5s linear infinite, twinkle 1s linear infinite alternate;
}

@keyframes fallFromAbove {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(100vh);
  }
}

@keyframes twinkle {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.star:nth-child(1) {
  left: 5%;
  animation-delay: 0.3s;
}

.star:nth-child(2) {
  left: 10%;
  animation-delay: 0.6s;
}

.star:nth-child(3) {
  left: 15%;
  animation-delay: 0.9s;
}
.star:nth-child(4) {
  left: 20%;
  animation-delay: 1.2s;
}

.star:nth-child(5) {
  left: 25%;
  animation-delay: 1.4s;
}

.star:nth-child(6) {
  left: 30%;
  animation-delay: 1.7s;
}
.star:nth-child(7) {
  left: 35%;
  animation-delay: 2s;
}

.star:nth-child(8) {
  left: 40%;
  animation-delay: 2.3s;
}

.star:nth-child(9) {
  left: 45%;
  animation-delay: 2.6s;
}
.star:nth-child(10) {
  left: 50%;
  animation-delay: 2.9s;
}

.star:nth-child(11) {
  left: 55%;
  animation-delay: 2.3s;
}

.star:nth-child(12) {
  left: 60%;
  animation-delay: 2.5s;
}
.star:nth-child(13) {
  left: 65%;
  animation-delay: 2.7s;
}

.star:nth-child(14) {
  left: 70%;
  animation-delay: 2.4s;
}

.star:nth-child(18) {
  left: 75%;
  animation-delay: 2.9s;
}
.star:nth-child(15) {
  left: 80%;
  animation-delay: 3s;
}

.star:nth-child(16) {
  left: 85%;
  animation-delay: 3.1s;
}

.star:nth-child(17) {
  left: 90%;
  animation-delay: 3.2s;
}
